<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(@user_pet, as: :user_pet, url: registration_path(:user), html: { method: :put }) do |f| %>
  <%#<%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%# Add fields for pet information %>
  <div class="field">
    <%= f.label :pet_name %><br />
    <%= f.text_field :pet_name %>
  </div>

  <div class="field">
    <%= f.label :pet_age %><br />
    <%= f.number_field :pet_age %>
  </div>

  <div class="field">
    <%= f.label :pet_weight %><br />
    <%= f.number_field :pet_weight %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
