<div class="login-page">
  <div class="form">
    <%= form_with model: @user_pet, url: user_registration_path, data: { turbo: false }, local: true do |f| %>
        <%= render 'shared/error_messages', model: @user_pet %>
      
      <%= f.text_field :name, placeholder: "Name", autofocus: true, class: "form-control" %>
      <%= f.email_field :email, placeholder: "Email address", autofocus: true, autocomplete: "email", class: "form-control" %>
      <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control" %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control" %>
      <%= f.text_field :pet_name, placeholder: "Pet Name", class: "form-control" %>
      <%= f.number_field :pet_age, placeholder: "Pet Age", class: "form-control" %>
      <%= f.text_field :pet_weight, placeholder: "Pet Weight", class: "form-control" %>
      <%= f.submit "Sign up", class: "form-button" %>
    <% end %>
    <%= link_to "Back", root_path, class: "form-back-link" %>
  </div>
</div>