<%= month_calendar month: @daily_log.date do |date| %>
  <div class="calendar-day">
    <span class="calendar-day-number"><%= date.day %></span>
    <div class="calendar-entries">
      <% day_logs = @month_daily_logs.select { |log| log.date == date } %>
      <% day_logs.each do |log| %>
        <div class="day-log">
          <%= link_to log.created_at.strftime("%H時%M分"), edit_daily_log_path(log) %>
          <ul>
            <li>食事量: <%= log.food_intake %>g</li>
            <li>水分摂取量: <%= log.water_intake %>ml</li>
            <li>トイレ回数: <%= log.toilet_count %>回</li>
            <li>運動時間: <%= log.exercise_time %>分</li>
          </ul>
        </div>
      <% end %>

      <% if @daily_totals[date] %>
        <div class="day-total">
          <strong>一日の合計:</strong>
          <ul>
            <li>食事量: <%= @daily_totals[date][:food_intake] %>g</li>
            <li>水分摂取量: <%= @daily_totals[date][:water_intake] %>ml</li>
            <li>トイレ回数: <%= @daily_totals[date][:toilet_count] %>回</li>
            <li>運動時間: <%= @daily_totals[date][:exercise_time] %>分</li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="month-total">
  <strong>月の合計:</strong>
  <ul>
    <li>食事量: <%= @month_total[:food_intake] %>g</li>
    <li>水分摂取量: <%= @month_total[:water_intake] %>ml</li>
    <li>トイレ回数: <%= @month_total[:toilet_count] %>回</li>
    <li>運動時間: <%= @month_total[:exercise_time] %>分</li>
  </ul>
</div>


    <!-- ナビゲーションメニュー -->
    <%= render "shared/nav_meny"%>