<!DOCTYPE html>
<html>
  <head>
    <title>PetHealthDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<% flash.each do |type, messages| %>
  <div class="<%= type %>">
    <% if messages.is_a?(Array) %>
      <ul>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% else %>
      <%= messages %>
    <% end %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
